form.cadastro {
  max-width: 720px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form.cadastro input {
  font-size: clamp(0.92rem, 6vw, 1.09rem);
  padding: 0.6rem;
  outline: none;
  height: 2.6rem;
  width: 100%;
  border:  1px solid #222;
}

form.cadastro button {
  font-size: clamp(0.92rem, 6vw, 1.09rem);
  background-color: #222;
  color: #fff;
  border: none;
  width: 100%;
  padding: 1rem 0;
}

form.cadastro select {
  font-size: clamp(0.92rem, 6vw, 1.09rem);
  height: 2.6rem;
}

div.carrinho p.valor {
  font-size: clamp(0.92rem, 6vw, 1.09rem);
  text-align: center;
}

div.listagem-carrinho {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 1.2rem;
}

#pequeno {
  max-width: 300px;
}