* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

div.app {
  display: grid;
  height: 100dvh;
  grid-template-rows: auto 1fr;
}

header {
  background-color: #222;
  color: #fff;
}

.container {
  width: 94%;
  max-width: 1920px;
  margin: auto;
}

header .container {
  display: flex;
  justify-content: space-between;
  padding: 1.8rem 0;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}